/* CSS Colour Variables */
:root {
  --navbar-option-hover: rgb(129, 224, 255);
  --navbar-donate-hover: rgb(3, 130, 172);
}

/* Reset default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
}

/* Set global styling for the body */
body {
  color: deepskyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: Islamic;
  src: url(assets/AlFitrahRamadhan-zr89X.otf);
}

h1 {
  font-size: 30px;
  color: black;
}

p {
  color: black;
  padding: inherit;
  margin-bottom: 20px;
}

h3 {
  color: black;
  font-size: 17px;
}

/* TODO: review if needed */
/* Styling for the logo image in the main header
nav img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 20px;
} */

/* Styling for the header container */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

/* Styling for the main header */
nav {
  background: white;
  padding: 20px 5%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  height: 70px;
  z-index: 2001;
  color: gray;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.navbar-left {
  font-family: Islamic;
}

/* Styling for the name in the main header */
.Name {
  font-size: 27px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.Name:hover {
  color: deepskyblue;
}

/* Styling for navigation bar links */
.navbar-middle a,
.navbar-right a.donate {
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-weight: 100;
  position: relative;
  padding: 10px 20px;
}

.navbar-right a.nav-mobile {
  border-radius: 50%;
  background-color: deepskyblue;
  padding: 12px;
}

.navbar-right a.nav-mobile i {
  font-size: 32px;
  color: black;
}

.navbar-middle a:hover {
  background: var(--navbar-option-hover);
}

.navbar-middle a.option-selected {
  background: var(--navbar-option-hover);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.donate {
  background: deepskyblue;
  border: 5px solid;
  border-color: deepskyblue;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.donate:hover {
  background: var(--navbar-option-hover);
  border-color: var(--navbar-option-hover);
  color: black;
}

#cta {
  position: relative;
  top: 80px;
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  z-index: 1200;
  height: 450px;
  width: 100vw;
}

#cta .cta-left {
  display: flex;
  background-color: black;
  align-items: center;
  overflow-x: visible;
}

.cta-content {
  width: 500px;
  top: 75px;
}

.cta-content h2 {
  color: white;
  font-family: Islamic;
}

.cta-content span {
  color: deepskyblue;
}

#cta .cta-left .cta-content h1 {
  color: white;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  z-index: 1999;
  position: relative;
}

a.donate2 {
  background: transparent;
  border: 3px solid;
  border-color: white;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 1999;
  position: relative;
  cursor: pointer;
}

a.donate2:hover {
  background: white;
  color: black;
}

#cta .cta-right {
  background-image: url(assets/mosque2.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.cta-right:before {
  margin-left: auto;
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 66px;
  left: 44%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
  z-index: 1500;
  height: 100%;
}

/* Styles for cta section */
#intro {
  width: 100vw;
  font-size: 20px;
  padding: 70px 11.4% 0;
  font-family: Arial;
  position: relative;
  align-content: center;
}

/* Styling for the intro container layout */
#intro .intro-container {
  display: inline-grid;
  justify-content: space-between;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 10%;
  gap: 10%;
}

/* Styling for the left column in the 'cta' section */
#intro .intro-left {
  flex-basis: 45%;
}
/* Styling for the heading */
#intro .intro-left h3 {
  color: deepskyblue;
  padding-bottom: 10px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  font-family: Islamic;
}

/* Styling for the heading */
#intro .intro-left h1 {
  color: black;
  padding-bottom: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  position: relative;
}

/* Styling for the heading underline effect */
#intro .intro-left h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: deepskyblue;
}

/* Styling for the interests paragraph  */
#intro .intro-left p.interests {
  color: black;
  font-size: 17px;
  margin-top: 10px;
}

/* Styling for the right column */
#intro .intro-right {
  flex-basis: 45%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the image */
#intro .intro-right img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 400px;
  border-radius: 15px;
}

#intro .intro-right .carousel {
  position: relative;
}

.carousel img {
  display: none;
}

#intro .carousel img.active {
  width: 100%;
  display: block;
  transition: 0.5s fade;
}

.facilities {
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  margin: 30px 0;
}

/* Styling for the tel and mail links */
.facilities li span {
  font-size: 30px;
  color: deepskyblue;
  text-decoration: none;
  padding-right: 10px;
  position: relative;
  top: 5px;
}

.facilities li {
  padding-bottom: 10px;
}

/* Styling for the tel and mail links */
.facilities li a {
  color: black;
  text-decoration: none;
  font-size: initial;
}

.learn-more {
  font-size: 15px;
  background: deepskyblue;
  border: 5px solid;
  border-color: deepskyblue;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.learn-more:hover {
  background: var(--navbar-option-hover);
  border-color: var(--navbar-option-hover);
  color: black;
}

.mobile {
  height: 100%;
}

#prayer-times {
  padding: 70px 11.4% 40px;
  text-align: center;
  z-index: -1;
  width: 100vw;
}

#prayer-times h1 {
  color: black;
  padding-bottom: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  position: absolute;
  z-index: -1;
}

/* Styling for the heading underline effect */
#prayer-times h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: deepskyblue;
}

.prayer-container {
  width: 100%;
  background-color: rgb(0, 191, 255, 0.1);
  justify-content: space-between;
  position: static;
  height: fit-content;
  grid-template-columns: 1.5fr 2fr;
  border-radius: 30px;
  padding: 30px;
  margin-top: 80px;
  gap: 50px;
}

.prayer-container .prayer-right {
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.prayer-container .prayer-right h2 {
  color: #333;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid deepskyblue;
  display: inline-block;
  padding-bottom: 5px;
}

.prayer-container .prayer-right .jumuah-times h4 {
  font-size: 25px;
  color: #555;
  margin: 0;
  font-family: Islamic;
}

.prayer-container .prayer-right .jumuah-times .prayer-time-item {
  margin-bottom: 20px;
}

.prayer-container .prayer-right .jumuah-times p.times {
  font-size: 22px;
  color: deepskyblue;
  margin-top: 12px;
}

.download-container {
  display: flex;
  position: relative;
}

.download-section {
  margin-top: 25px;
  text-align: center;
}

.download-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.button {
  --main-focus: #2d8cf0;
  --font-color: black;
  --bg-color-sub: deepskyblue;
  --bg-color: deepskyblue;
  --main-color: black;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  color: var(--font-color);
  font-weight: 600;
  font-size: 10px;
}

.button .button__text.two {
  transform: translateX(-10px);
}

.download-section .button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: deepskyblue;
  color: #fff;
  padding: 10px 20px;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
  height: 60px;
  width: 60px;
}

.download-section .button:hover {
  transform: scale(1.05);
}

.download-section .button__text {
  margin-right: 10px;
  font-weight: bold;
}

.download-section .button__icon {
  width: 20px;
  height: 20px;
}

.download-section .button__icon svg {
  fill: #fff;
}

i {
  font-size: 30px;
  transition: 1s;
}

.button:hover i {
  transform: rotate(45deg);
}

.svgIcon {
  fill: white;
  transform: translateY(-5px);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.button:hover .icon2 {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.button:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 1s linear infinite;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#about-us {
  width: 100%;
  font-size: 18px;
  padding: 40px 11.4% 0;
  color: #ffffff;
  font-family: Arial;
  position: relative;
  z-index: -1;
}

#about-us h1 {
  color: black;
  padding-bottom: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  position: absolute;
  z-index: -1;
}

/* Styling for the heading underline effect */
#about-us h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: deepskyblue;
}

#about-us .about-us-container {
  margin-top: 40px;
}

.timeline {
  --accent: deepskyblue;
  --text: black;
  --line: #c4c4c4;
  background: var(--background);
  color: var(--text);
  padding: 30px 0 30px 0;
}

.timeline h1 {
  border-left: 4px solid var(--accent);
  padding: 10px 12px 10px;
}

.timeline ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.timeline ul:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 3px solid var(--text);
  left: 11px;
}

.timeline ul:after {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 1px;
  right: -15px;
  font-size: 25px;
  color: var(--accent);
}

.timeline ul li {
  --circle-size: 15px;
  grid-column: var(--index);
  overflow: hidden;
  position: relative;
  height: calc(100% + var(--circle-size) * 0.5);
}

.timeline ul li:after {
  content: "";
  width: var(--circle-size);
  height: var(--circle-size);
  background: var(--line);
  position: absolute;
  bottom: 0;
  left: var(--circle-size);
  border-radius: 100px;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline ul li:nth-child(even):after {
  bottom: auto;
  top: 0;
}

.timeline ul li:nth-child(even) {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  margin-top: calc(var(--circle-size) * -0.45);
}

.timeline ul li:nth-child(odd) p:after,
.timeline ul li:nth-child(even) h3:before {
  content: "";
  display: block;
  border-left: 2px dashed var(--text);
  height: 100vh;
  margin-top: 10px;
  position: absolute;
  left: calc(var(--circle-size) - 1px);
}

.timeline ul li:nth-child(even) h3:before {
  bottom: 100%;
  margin-bottom: 5px;
}

.timeline ul li > * {
  padding-left: calc(var(--circle-size) * 0.4);
}

.timeline ul li h3 {
  color: var(--accent);
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.6em;
  position: relative;
}

.timeline ul li h2 {
  color: var(--font-color);
  font-size: 1.7rem;
  font-family: Islamic;
}

.timeline ul li p {
  margin-bottom: 10px;
  padding-top: 10px;
  position: relative;
  text-wrap: pretty;
}

@media (max-width: 568px) {
  .timeline ul {
    display: flex;
    flex-direction: column;
  }
  .timeline ul li {
    grid-column: 1 !important;
    grid-row: var(--index) !important;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .timeline ul:before,
  .timeline ul:after,
  .timeline ul li:after,
  .timeline ul li:nth-child(even) h3:before,
  .timeline ul li:last-child p:after {
    display: none;
  }
  .timeline ul li:first-child {
    padding-top: 0;
  }
  .timeline ul li:nth-child(even) {
    margin-top: 0;
    padding-top: 10px;
  }
  .timeline ul li p:after {
    content: "";
    display: block;
    border-left: 2px dashed var(--text);
    height: 100vh;
    margin-top: 10px;
    position: absolute;
    left: calc(var(--circle-size) - 1px);
  }
}

/* Styling for the donate section */
#donate {
  font-family: Tahoma;
  width: 100vw;
  padding-left: 11.4%;
  padding-right: 11.4%;
}

#donate h1 {
  color: black;
  padding-bottom: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  position: relative;
  z-index: -1;
  width: fit-content;
}

/* Styling for the heading underline effect */
#donate h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: deepskyblue;
}

#donate-container {
  width: 100%;
  background-color: rgb(0, 191, 255, 0.1);
  justify-content: space-between;
  position: static;
  height: fit-content;
  grid-template-columns: 3fr 2fr;
  border-radius: 30px;
  padding: 20px;
  column-gap: 24px;
}

.donate-left {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#donate-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 5px;
}

.donate-input,
.donate-button {
  background: #00bfff1a;
  padding: 10px;
  border: 1px solid #3f3f3f;
  color: black;
  border-radius: 5px;
}

.donate-button:hover {
  transform: scale(1.05);
}

.donate-button--active {
  background: deepskyblue;
  transform: scale(0.95);
}

.donate-submit {
  background: rgb(0, 89, 255);
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 40px;
}

.donate-submit:disabled {
  cursor: not-allowed;
  color: black;
  opacity: 0.3;
}

.donation-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 2fr));
  gap: 20px;
  width: 80%;
}

.price {
  padding: 15px;
  background-color: deepskyblue;
  border-radius: 20%;
}

.donate-row {
  display: inline-flex;
  margin-top: 20px;
  gap: 20px;
}

.donate-right {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  height: fit-content;
  align-content: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.donate-right p:nth-child(1) {
  color: black;
  height: fit-content;
  font-size: 25px;
  font-weight: 500;
}

.donate-right p:nth-child(2) {
  color: deepskyblue;
  font-weight: 700;
}

/* Styling for the contact-us section */
#contact-us {
  font-family: Tahoma;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 70px 11.4% 0;
  margin-top: 20px;
}

/* Styling for contact-us heading */
#contact-us h2.header {
  position: relative;
  color: black;
  margin-top: 10px;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}

/* Styling for the contact-us heading underline */
#contact-us h2.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: deepskyblue;
}

#contact-container {
  grid-template-columns: 2fr 2fr;
}

/* Styling for the contact me form  */
#contactForm {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Styling for the row layout  */
.form-row {
  display: inline-flex;
  gap: 20px;
}

/* Styling for groups in the form */
.form-group {
  flex: 1;
}

/* Styling for labels in the form */
#contactForm label {
  color: black;
  margin-top: 15px;
  display: block;
}

#contactForm input::placeholder,
#contactForm textarea::placeholder,
#contactForm select::placeholder {
  color: black;
}

/* Styling for input, textarea, and select elements in the form */
#contactForm input,
#contactForm textarea,
#contactForm select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
  background-color: #00bfff1a;
  color: black;
  font-family: Arial;
}

/* Styling for the submit button */
#contactForm button {
  padding: 12px 28px;
  background: deepskyblue;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Submit button Hover  */
#contactForm button:hover {
  background: deepskyblue;
}

.contact-right {
  background-color: #00bfff1a;
  padding: 20px;
  text-align: left;
  margin-left: 50px;
  border-radius: 20px;
  height: 100%;
}

.contact-right h2 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

#footer {
  font-size: 13px;
  margin-top: 60px;
  font-family: Arial;
  z-index: -1;
  top: 50px;
  width: 100vw;
}

footer {
  width: 100%;
  display: inline-flex;
  align-items: baseline;
}

footer.top {
  background-color: #00bfff1a;
  height: fit-content;
  width: 100%;
  padding: 60px 0% 60px;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  align-items: flex-start;
}

.logo-apps {
  margin-left: 27.4%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 64%;
}

.logo {
  width: 100%;
  align-items: center;
}

.logo img {
  max-width: 125px;
  border-radius: 50%;
  max-height: 200px;
}

.logo p {
  font-size: 25px;
  align-self: baseline;
  margin: auto;
  font-family: Islamic;
  width: 30%;
}

.apps {
  display: inline-grid;
  width: 60%;
  margin-top: 26px;
}

h3.prompt {
  margin-bottom: 14px;
  font-size: 17px;
}

.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: deepskyblue;
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: black;
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-bottom: 10px;
}

.playstore-button:hover {
  background-color: black;
  color: white;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}

footer.top .bank-details {
  margin-top: 45px;
}

footer.top .quick-links ul,
footer.top .bank-details ul {
  list-style: none;
  color: black;
  margin-top: 10px;
}

footer.top .quick-links ul li,
footer.top .bank-details ul li {
  margin-top: 22px;
  display: flex;
}

footer.top .masjid-information ul li:nth-child(1) {
  margin-top: 22px;
  display: flex;
}

footer.top .quick-links ul li a {
  text-decoration: none;
  color: black;
}

footer.top .masjid-information ul li:nth-child(2),
footer.top .masjid-information ul li:nth-child(3),
footer.top .masjid-information ul li:nth-child(4) {
  display: flex;
  margin-top: 5px;
}

footer.top .masjid-information li i {
  color: deepskyblue;
  font-size: 20px;
  margin-right: 10px;
  transform: translateY(-4px);
}

footer.top .masjid-information li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 20px;
  transform: translateY(-2px);
}

footer.bottom {
  padding: 20px 11.4% 0px;
  background: deepskyblue;
  color: black;
}

#footer .footer {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

#footer .footer {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .navbar-middle a {
    padding: 10px 15px;
  }
}

@media (min-width: 1100px) {
  .cta-content {
    transform: translateX(127px);
    z-index: 2000;
  }
}

@media (max-width: 1100px) {
  .cta-left {
    width: 100vw;
    justify-content: center;
  }

  .cta-content {
    text-align: center;
  }

  .cta-right {
    display: none;
  }

  .facilities {
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  }
}

@media screen and (max-width: 956px) {
  nav {
    position: fixed;
    top: 0px;
    background-color: white;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
  }

  .Name {
    font-size: 27px;
  }

  .navbar-middle {
    position: fixed;
    display: flex;
    top: 69px;
    left: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    max-height: 0;
    overflow: hidden;
    width: 100vw;
  }

  .navbar-middle a {
    text-align: center;
    font-size: 20px;
  }

  .navbar-right {
    display: inline-flex;
  }

  nav a {
    margin: 16px 0;
  }

  nav.active .navbar-middle {
    left: 0;
    display: flex;
    max-height: 380px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  }

  .hamburger {
    display: block;
  }

  .bar {
    background-color: black;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #prayer-times {
    padding: 120px 11.4% 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 956px) {
  footer.top {
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    padding: 70px 11.4% 0;
  }

  .logo-apps {
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    width: 100%;
    display: grid;
    max-height: 200px;
  }

  .apps {
    margin-top: 0;
  }

  .quick-links {
    margin-top: 20px;
  }

  .links,
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .masjid-information {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 800px) {
  .prayer-container,
  #contact-container,
  #donate-container {
    display: grid;
  }
}

@media screen and (max-width: 800px) {
  .prayer-right,
  .donate-right {
    margin-top: 20px;
  }

  .contact-right {
    background-color: #00bfff1a;
    margin-top: 20px;
    text-align: left;
    margin-left: 0px;
    flex-wrap: wrap;
  }

  .contact-right p {
    overflow-wrap: break-word;
    color: black;
    text-decoration: none;
  }
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 768px) {
  .mobile {
    padding: 10px;
  }

  .prayer-left,
  .prayer-right {
    width: 67vw;
  }

  .download-section {
    flex-direction: column;
  }

  .button {
    font-size: 14px;
    padding: 8px 16px;
  }

  footer.top {
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    padding: 70px 11.4% 0;
    text-align: center;
  }

  .logo-apps {
    margin-left: 0;
    width: 100%;
  }

  .apps {
    margin-top: 0;
    justify-self: center;
  }

  footer.top .quick-links ul li,
  footer.top .bank-details ul li {
    justify-content: center;
  }

  footer.top .masjid-information ul li:nth-child(1),
  footer.top .masjid-information ul li:nth-child(2),
  footer.top .masjid-information ul li:nth-child(3),
  footer.top .masjid-information ul li:nth-child(4) {
    display: grid;
  }

  .quick-links {
    margin-top: 20px;
  }

  .masjid-information {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 500px) {
  .navbar-right .nav-mobile {
    display: none;
  }

  #footer .footer-right {
    text-align: end;
  }

  #donate {
    padding-top: 20px;
  }
  .logo {
    display: inline-flex;
  }
}

@media screen and (max-width: 500px) {
  nav {
    padding: 20px 5% 25px;
  }

  .navbar-right a.donate {
    display: none;
  }

  .navbar-left a {
    font-size: 20px;
  }

  #cta {
    height: 50vh;
  }

  .cta-content {
    transform: scale(0.8);
  }

  .intro-container {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }

  .intro-left {
    width: 80vw;
  }

  .facilities {
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  }

  .intro-right {
    width: 80vw;
  }

  .mobile {
    padding: 5px;
  }

  .prayer-container {
    padding: 22px;
    width: 80vw;
  }

  .prayer-container .prayer-right {
    padding: 15px;
  }

  .button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .download-section p {
    font-size: 14px;
  }

  .logo {
    display: contents;
    margin-bottom: 20px;
  }

  .logo img {
    justify-self: center;
  }

  .apps {
    display: grid;
  }

  footer.bottom {
    display: grid;
    text-align: center;
  }
}
