/* Styling for the header container */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

/* Styling for the main header */
nav {
  background: white;
  padding: 20px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 2001;
  color: gray;
}

.navbar-left {
  margin-right: auto;
}

/* Styling for the name in the main header */
.Name {
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  margin-right: auto;
  cursor: pointer;
}

.navbar-middle {
  margin-right: 150px;
}

.navbar-right {
  margin-right: 20px;
}

/* Styling for navigation bar links */
.navbar-middle a,
.navbar-right a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-weight: 100;
  /* margin-left: 35px; */
  position: relative;
  padding: 10px 20px;
}

.navbar-middle a:hover {
  background: rgb(129, 224, 255);
}

.donate {
  background: deepskyblue;
  border: 5px solid;
  border-color: deepskyblue;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.donate:hover {
  background: rgb(3, 130, 172);
  border-color: rgb(3, 130, 172);
  color: white;
}

@media screen and (max-device-width: 1200px) {
  /* Styling for the header container */
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000; /* Adjusted */
  }

  /* Styling for the name in the main header */
  .Name {
    font-size: 20px; /* Adjusted */
    font-weight: bold;
  }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  /* Hide regular navigation links */
  nav ul {
    display: none;
  }

  /* Adjustments when hamburger menu is clicked */
  nav ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  nav ul.active li {
    margin: 10px 0;
  }

  .Name {
    font-size: 18px; /* Adjusted */
  }

  /* Show hamburger icon */
  .hamburger-menu {
    display: block;
  }

  /* Styling for hamburger icon */
  .hamburger-menu {
    display: block;
    cursor: pointer;
    padding: 10px;
    background: deepskyblue;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}
